* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
  }
  
  .container {
    width: 960px;
    margin: 10px auto;
  }
  
  .clearfix {
    content: "";
    clear: both;
  }
  
  /*  header section */
  .header {
    margin-bottom: 60px;
    padding: 5px 25px;
  }
  
  .header img {
    width: 90px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
  }
  
  .title h1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 38px;
  }
  
  /*  aside and main section */
  
  .aside,
  .main {
    float: left;
    padding: 5px 25px;
  }
  
  .aside {
    width: 400px;
  }
  
  .main {
    width: 560px;
    border-left: 3px solid black;
  }
  
  .article {
    margin-bottom: 20px;
  }
  
  .aside h2,
  .article h2 {
    margin: 5px 20px 20px 5px;
  }