#mario-bg {
    position: relative;
    width: 800px;
    height: 490px;
    background-image: url("/mario/bg\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    
  }
  
  #mario  {
  background-image: url("/mario/mario\ \(1\).png");
  background-size: cover;
  z-index: 99;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 340px;
  left: 300px; 
  }