* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    background-color: rgb(247,246,246);
}

h2 {
    background-color: rgb(253, 253, 253);
    color:black;
    align-self: center;
    padding-left: 15px;
}

.search {
    border-radius: 10px;
    width: 20%;
    border-color: rgb(50, 50, 50);
    padding: 0 10px 0 30px;
    margin-right: 125px;
    font-size: 14px;
  }

.repositories-of-selected-user {
    background-color: lightgray;
    padding: 2rem 10% 0 10%;
    display: grid;
    justify-items: center;
    
  }

#profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 10%;
    gap: 1vw;
    background-color: lightgray;
  }

.container {
    display: grid;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: none;
    text-align: center;
  }

.profile-img {
    width: 100%;
    border-radius: 10px;
  }

.repository-table {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    justify-items: center;
  
  }

.table-header, .table-header div {
    font-weight: bold;
    color: white;
    background-color: rgb(50, 50, 50);  
    
  }

.table-cell {
    width: 100%;
    text-align: center;  
    
  }

.table-cell div {
    place-self: center;
  }
  
.table-cell:nth-child(even) {
    background-color: gray;
  }
  
.table-cell:nth-child(even) div {
    background-color: gray;
    color: white;
  }