.button-div {
 display: grid;
 justify-content: center;
 align-items: center;
  width: 500px;
  height: 300px;
}

#button-toggle {
 width: 150px;
 height: 60px;
}


.div-bg {
  background-color: navy;
  width: 500px;
  height: 300px;
}






